# Auriga CP932 files
script/** text=auto eol=crlf encoding=cp932
db/** text=auto eol=crlf encoding=cp932
conf/** text=auto eol=crlf encoding=cp932
doc/** text=auto eol=crlf encoding=cp932
src/** text=auto eol=crlf encoding=cp932
*.bat text=auto eol=crlf encoding=cp932
